*{
    box-sizing: border-box;
}


html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body{
    background-color: #c7e8f3;
    margin: 0;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0px;
    height: 5vh;
    margin-top: 20px;
    margin-right: -15px;
    
}




.btn{
    background-color:  #c7e8f3;
    border: none; /* Remove borders */
    color: white; 
    padding: 12px 16px; 
    font-size: 13px; 
    margin: -10px 25px;
    
}


.hello {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
    margin: 0;
    font-family: 'Abril Fatface', cursive;
    color: #1e6e89;   
    font-size: 4rem

}

.about {
    height: 100vh;
    padding: 60px;
    /* margin-bottom: -90px; */
    background-color: #18586e;
    color: #c7e8f3;
    
    


}

.stats{
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}

.iconRow{
    display: flex;
    flex-direction: row;
    
    
}

ul > li > img{
    width: 400px;
    height: 400px;
    margin-top: -90px; 

}

#iconCaption{
    text-align: center;
    margin-top: -100px;
    padding: 60px;
    color: #1e6e89;  
}

.game{
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    padding: 20px;
    
}

.intro{
border: 5px solid white;
width: 28%;
padding: 20px;
}

.rules{
    margin-top: 50%;
}
.instructions{
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}

.letsPlay{
    border: none;
    background: transparent;
}

h3{
    font-size: 3rem;
}

.gameGif {
    margin-top: -40px;
}

.questionNumber{
    margin-top: 25px;
    font-style: normal;
    font-size: 1.5rem;
}

.question{
    font-size: 1.5rem;
    
}
.truefalse{
display: flex;
flex-direction: column;
border: 5px solid white;
width: 70%;
padding: 20px;

align-items: center;
justify-content: center;
}

.gameBtn{
    font-size: 1rem;
    margin: 0 5px;
    background-color: #F08F80;
    padding: 14px 40px;
}

.result{
    text-align: center;
    font-size: 1.5rem;
    font-style: oblique;
}

.container{
    width: 100%;
    height: 100vh;
    position: relative;
    /* display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    flex-direction: row;
    overflow: hidden; */
}

.text{
    height: 50vh;
    width: 300px;
    padding: 25px;
    background: #bf9aca;
    position: absolute;
    top: 25%;   
    left: 27%;
    z-index: 100;
    
}

.author{
    text-align: right;
    font-style: italic;
}
.self{
    position: absolute;
    top: 14%;
    right: 24%;
    width: 25%vw;
    height: 70vh;
}

.mantra{
    font-size: 1.5rem;
    color:#c7e8f3;  
}
.slogan{
    height: 25vh;
    color: #c7e8f3;
    padding: 20px;
    text-align: center;
    background-color: #18586e;
}

.links {
    background-color: #18586e;
    text-align: center;
    font-size: 18px;
    padding-top: 20px;
    text-decoration: underline;
    margin-top: -20px
}

.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    text-align: center;
    
  
}

footer{
    background-color: #18586e;
}

ul{
    list-style: none;
}

.morelinks{
    display: flex;
    flex-direction: column;

}

#quiz{
    margin: -25px;
}

#question{
    padding-bottom: -25px;
}

